.app .menu {
  margin: 0px;
  background: #4f4f4f;
  position: absolute;
  width: 122px;
  height: 1024px;
  left: 0px;
  top: 0px;
}

.app .chat {
  /* Message Bar */

  position: absolute;
  width: 243px;
  height: 1024px;
  left: 122px;
  top: 0px;

  background: #56ccf2;
}

.card {
  /* Unselected 1 */

  position: absolute;
  width: 243px;
  height: 130px;
  left: 122px;
  top: 191px;

  background: #e0e0e0;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
}

.card .img {
  /* Rectangle path */

  position: absolute;
  width: 51px;
  height: 51px;
  left: 148px;
  top: 258px;

  border: 1px solid #bdbdbd;
}

.main .input {
  /* Box */

  position: absolute;
  width: 899px;
  height: 28px;
  left: 422px;
  top: 16px;

  background: #f6f6f6;
  border-radius: 4.12952px;
}

.main .main-top {
  /* Header */

  position: absolute;
  width: 1013px;
  height: 61px;
  left: 365px;
  top: 0px;

  background: #e0e0e0;
}

.side-bar {
  /* Info Bar */

  position: absolute;
  width: 62px;
  height: 1024px;
  left: 1378px;
  top: 0px;

  background: #ededed;
}
